version: 2.1
orbs:
  humanitec: humanitec/humanitec@volatile
workflows:
  build-push-and-notify-humanitec:
    jobs:
      - humanitec/build-push-and-notify-humanitec:
          organization: nils-org2
          humanitec_api: https://dev-api.humanitec.io
